﻿@model IEnumerable<string>
<a class="btn btn-block btn-outline-dark" asp-action="Products" asp-controller="Home" asp-route-category="">Home</a>
@foreach(string category in Model)
{
    <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-dark" : "btn-outline-dark")" asp-action="Products" asp-controller="Home" asp-route-category="@category" asp-route-page="1">@category</a>
}
