﻿@model Order
<div class="container">
    <h2>Order form</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="Checkout">
        <div class="form-group">
            <p>Please, enter the description to your order</p>
            <input type="text" class="form-control" placeholder="Order description" asp-for="WMI_DESCRIPTION" />
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" value="http://mvcw1app.tk/Order/Success" asp-for="WMI_SUCCESS_URL" />
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" value="http://mvcw1app.tk/Order/Fail" asp-for="WMI_FAIL_URL"  />
        </div>
        <div class="text-center">
            <input class="btn btn-outline-dark" type="submit" value="Complete Order" />
        </div>
    </form>
</div>