﻿@model Order
<div class="container">
    <h2>Submit order</h2>
    <p>Please check your order details</p>
    <div class="form-group">
        <p>Products:</p>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var l in Model.Lines)
                {
                    <tr>
                        <td class="text-center">@l.Product.Name</td>
                        <td class="text-center">@l.Quantity</td>
                        <td class="text-center">@l.Product.Price.ToString("c")</td>
                        <td class="text-center">@(l.Quantity * l.Product.Price)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-center">
                        @Model.Lines.Sum(s => s.Product.Price * s.Quantity).ToString("c");
                    </td>
                </tr>
            </tfoot>
        </table>
        <p>Description:</p>
        <p>@Model.WMI_DESCRIPTION</p>
    </div>
    <form method="post" action="https://wl.walletone.com/checkout/checkout/Index">
            <input type="hidden" name="@nameof(Model.WMI_MERCHANT_ID)" value="@Model.WMI_MERCHANT_ID" />
            <input type="hidden" name="@nameof(Model.WMI_CURRENCY_ID)" value="@Model.WMI_CURRENCY_ID" />
            <input type="hidden" name="@nameof(Model.WMI_SUCCESS_URL)" value="@Model.WMI_SUCCESS_URL" />
            <input type="hidden" name="@nameof(Model.WMI_FAIL_URL)" value="@Model.WMI_FAIL_URL" />
            <input type="hidden" name="@nameof(Model.WMI_PAYMENT_AMOUNT)" value="@Model.WMI_PAYMENT_AMOUNT" readonly />
            <input type="hidden" name="@nameof(Model.WMI_DESCRIPTION)" value="@Model.WMI_DESCRIPTION" readonly/>
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Submit" />
            <a class="btn btn-danger" asp-action="Products" asp-controller="Home">Cancel</a>
        </div>
    </form>
</div>