﻿@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <address>
        <strong>Support:</strong> <a href="mailto:CrimeanOM@Outlook.com">CrimeanOM@outlook.com</a><br />
    </address>
</div>
