﻿@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <h4>Todo list</h4>
    <ul class="list-unstyled">
        <ul>
            <li class="text-success">Product's catalog (Recomended)...done</li>
            <li class="text-success">Manager controller Product's CRUD...done</li>
            <li class="text-success">Products pagination (Recomended)...done</li>
            <li class="text-success">Cart with CRUD (Recomended)...done</li>
            <li class="text-success">Pay via W1 (Recomended)...done</li>
            <li class="text-success">Implement database interaction through stored procedures...done</li>
        </ul>
    </ul>
</div>
