﻿@model ProductsViewModel
@{
    ViewData["Title"] = "Products";
}
<div class="row">
    <div id="categories" class="col-md-2">
        @await Component.InvokeAsync("NavigationMenu")
    </div>

    <div class="container col-md-9">
        @foreach (var product in Model.Products)
        {
            @Html.Partial("ProductSummary", product)
        }
        <div page-model="@Model.PagingInfo" page-action="Products" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-dark" page-url-category="@Model.CurrentCategory" class="btn-group-sm pull-right">
        </div>
    </div>
</div>


