﻿@model Product
<h5>@Model.Name @Model.Price.ToString("c")</h5>
<form id="@Model.ProductId" asp-action="AddToCart" asp-controller="Cart" method="post">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" name="retutnUrl" value="@ViewContext.HttpContext.Request.Path" />
    <span class="lead">
        @Model.Description
        <button type="submit" class="btn btn-success btn-sm pull-right">
            Add To Cart
        </button> 
    </span>
</form>
<br/>