﻿@model Product
@{
    ViewData["Title"] = "Adding new product";
}
<div class="container">
    <div asp-validation-summary="All"></div>
    <form asp-action="Create" asp-controller="Manager">
        <div class="form-group">
            <label for="Name"></label>
            <br />
            <input type="text" class="form-control" id="Name" aria-describedby="titleHelp" placeholder="Enter the product name" asp-for="Name" />
        </div>

        <div class="form-group">
            <label for="Description"></label>
            <br />
            <input type="text" class="form-control" id="Description" aria-describedby="descriptionHelp" placeholder="Enter the product description" asp-for="Description" />
        </div>
        <div class="form-group">
            <label for="Category"></label>
            <br />
            <input type="text" class="form-control" id="Category" aria-describedby="categoryHelp" placeholder="Enter the product category" asp-for="Category" />
        </div>
        <div class="form-group">
            <label for="Price"></label>
            <br />
            <input type="text" class="form-control" id="Price" aria-describedby="priceHelp" placeholder="Enter the product price" asp-for="Price" />
        </div>
        <div>
            <input class="btn btn-outline-dark" type="submit" value="Add" />
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
</div>