﻿@model Product
@{
    ViewBag.Title = "Deleting product";
}
<div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Description</dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>Category</dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>Price</dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <div>
        <form asp-controller="Manager" asp-action="Delete" asp-route-projectId="@Model.ProductId" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-outline-dark btn-sm" value="Remove" />
            </div>
        </form>
    </div>
</div>