﻿@model Product
@{
    ViewBag.Title = "Edit product";
}
<div class="container">
    <form asp-action="Edit" asp-controller="Manager" asp-route-projectId="@Model.ProductId">
        <input type="hidden" id="Id" asp-for="@Model.ProductId" />
        <div class="form-group">
            <label for="Name"></label>
            <br />
            <input type="text" class="form-control" id="Name" aria-describedby="titleHelp" placeholder="Enter the product name" asp-for="Name" />
        </div>
        <div class="form-group">
            <label for="Description"></label>
            <br />
            <input type="text" class="form-control" id="Description" aria-describedby="descriptionHelp" placeholder="Enter the product description" asp-for="Description" />
        </div>
        <div class="form-group">
            <label for="Category"></label>
            <br />
            <input type="text" class="form-control" id="Category" aria-describedby="categoryHelp" placeholder="Enter the product category" asp-for="Category" />
        </div>
        <div class="form-group">
            <label for="Price"></label>
            <br />
            <input type="text" class="form-control" id="Price" aria-describedby="priceHelp" placeholder="Enter the product price" asp-for="Price" />
        </div>
        <div>
            <input class="btn btn-outline-dark" type="submit" value="Save" />
            <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
</div>