﻿@model IEnumerable<Product>
@{
    ViewBag.Title = "Manage products";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.Name</td>
                    <td>@prod.Description</td>
                    <td>@prod.Category</td>
                    <td>@prod.Price</td>
                    <td>
                        <form method="post">
                            <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-controller="Manager" asp-route-productId="@prod.ProductId">Edit</a>
                            <button class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-controller="Manager" asp-route-productId="@prod.ProductId">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a class="btn btn-outline-dark" asp-action="Create">Add new product</a>
    <a class="btn btn-outline-danger" asp-action="Index" asp-controller="Home">Cancel</a>
</div>
